.icon {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.name {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.badge {
  animation: swing ease-in-out .5s infinite alternate;
  transform-origin: center -20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

@keyframes swing {
  0% { 
    transform: rotate(3deg); 
  }
  100% { 
    transform: rotate(-3deg); 
  }
}

.finger {
  position: relative;
  animation: wave ease-in-out .5s infinite alternate;
}

@keyframes wave {
  0% {
    left: 0;
  }
  50% {
    left: 5%;
  }
  100% {
    left: 0;
  }
}