.post {
  padding: 1rem;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  border-radius: 10px;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.post:hover {
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
}